
  <div id="login_right">
    <%= image_tag("lock_2.png", :class=>"imglock", :width=>"73", :align=>"absmiddle") %><strong class="sub_title">&nbsp;&nbsp;Restricted Access</strong>
    <ul class="bullet_links">
      <li class="black_text">&nbsp;&nbsp;Please login to continue</li>
    </ul>
  </div>
  
  <div class="login">
    <div class="roundtop"><span class="sec_title">Login</span></div>
  <%= form_tag sessions_path do %>

    <table style=width:263px>
      <tr>
        <td> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;User Name: </td>
      </tr>
      <tr>
        <td> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= text_field_tag :login, @login, :autocomplete=>"off", :oncopy=>"return false", :onpaste=>"return false", :oncut=>"return false",:id=>"userid" %>

        </td>
      </tr>
      
      <tr>
        <td> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Password: </td>
      </tr>
      <tr>

        <td> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= password_field_tag :password, nil, :oncopy=>"return false", :onpaste=>"return false", :oncut=>"return false"%>
        </td>
      </tr>
      
      <tr>
        <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;  &nbsp; <%= submit_tag 'Login', :class => 'black_text', :onclick=>"setuserdetails()"%>
        </td>
      </tr>
    </table>
    
    
  <% end %>
    <div class="roundbottom">
      <%= image_tag("bl.gif", :class=>"corner", :width=>"10", :height=>"9", :style=>"display: none;") %>
    </div>
  </div>
