<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    The file '<%= @filename %>' received on '<%= Time.now.strftime("%d/%m/%Y") %>' at '<%= Time.now.strftime("%H:%M") %>' was tried loading with the wrong facility '<%= @wrong_facility_name %>', But corrected with the right facility '<%= @correct_facility_name %>'.
    <br/>
  </body>
</html>