<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <b><%= @feature %> </b>for Facility <b><%= @facility_name %></b> has been edited by <b><%= @user.name %></b> at <b><%= @edited_time %></b> from <b><%= @access_info %></b> instance.
    </p>
  </body>
</html>
