<h3>Changing Password</h3>
<%= render "shared/error_messages", :target => @user %>  
<%= form_tag :action => :update_password do %>
  <table>
    <tr>
      <td><label for="user_password">Password</label></td><td><%= password_field 'user', 'password',:class => 'black_text' %></td>
    </tr>
    <tr>
      <td><label for="user_password_confirmation">Confirm Password</label></td><td><%= password_field 'user', 'password_confirmation',:class => 'black_text' %></td>
    </tr>
  </table>
  <%= submit_tag "Change", :class => "button" %><br/><br/>
  <% if not current_user.reset_password %>
    <%= link_to 'Cancel', :controller => '/dashboard', :action => 'index' %>
  <% end %>
<% end %>
