<%= javascript_include_tag "simpletreemenu" %>
<%= stylesheet_link_tag 'simpletree' %>
<%= javascript_include_tag "user" %>
<h1>Sign up as a new user</h1>
<% @user.password = @user.password_confirmation = nil %>
<%= render "shared/error_messages", :target => @user %>  
<%= form_for :user, :url => { :action => "create", :controller => "admin/user" } do |f| %>
<table>
  <tr>
    <td style="width: 278px"><label for="user_name">Name <span class="alert"> *</span></label></td><td><%= text_field 'user', 'name',:class => 'black_text'  %></td>
  </tr>
  <tr>
    <td><label for="user_userid">User ID <span class="alert"> *</span></label></td><td><%= text_field 'user', 'login',:class => 'black_text' %></td>
  </tr>
<tr>
    <td><label for="user_email">Email <span class="alert"> *</span></label></td><td><%= text_field 'user', 'email',:value => "support@revenuemed.com",:class => 'black_text' %></td>
  </tr>
  <tr>
    <td><label for="user_password">Password <span class="alert"> *</span></label></td><td><%= password_field 'user', 'password',:class => 'black_text' %></td>
  </tr>
<tr>
    <td><label for="user_password_confirmation">Confirm Password <span class="alert"> *</span></label></td><td><%= password_field 'user', 'password_confirmation',:class => 'black_text' %></td>
  </tr>
 <tr>
    <td><label for="user_shift">Shift</label></td><td><%= select_tag 'shift', options_for_select(@shifts, @selected),:class => 'black_text' %></td>
  </tr>
  <tr>
    <td><label for="user_role">Role <span class="alert"> *</span></label></td><td>
    <table><tr>
    <%o = 0
unless @roles.blank?
@roles.each do |role| %>
   <%o = o+1%>
  
  <td><label for="o<%=o %>"><input id="o<%= role %>" name="role[id][]" type="checkbox" value= "<%=role%>" onclick="choose_facility(id); displayPayerWiseAutoAllocation(id)" > </label><%=(role.size == 2? role.upcase : role.capitalize)%>&nbsp;</td>
        <% end %>
        <% end %>
   </tr>
   </table>
  </td>     
  </tr>

<tr id="facilityRow">
<td><label for="user_facility">Facility</label></td><td>
<div id='fac_div'  style="width: 100%;float: left;">
  <ul id="fac_tree" class="treeview" style="padding-left:1px"> 
    <%f = 0%>
    <% @partners.each do |partner| %>
      <li><%=partner.name%>
        <ul>
            <% partner.clients.each do |client| %>
            <li><%=client.name%>
              <ul>
                <% client.facilities.each do |facility| %>
                <li>
                <input id="f<%=facility.id %>" name="facility[id][]" type="checkbox" value= "<%=facility.id%>" > <%=facility.name%>
                </li>               
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </li>
    <%end%>
  </ul>

 </div>
 <div id='partner_div' class='checklist' style="display:none; width: 100%; float: left;">
<%unless @partners.blank?
  @partners.each do |partner| %>
    <label><input id="c<%=partner.id %>" name="partner[id][]" type="checkbox" value= "<%=partner.id%>" > <%=partner.name%></label>
  <% end %>
 <% end %>
 </div>
 <div id='client_div' style="display:none; width: 100%; float: left;">
   <ul id="client_tree" class="treeview" style="padding-left:1px"> 
            <% @partners.each do |partner| %>
              <li><%=partner.name%>
                <ul>
                  <% partner.clients.each do |client| %>  
        <li>
                      <input id="c<%=client.id %>" name="client[id][]" type="checkbox" value= "<%=client.id%>" > <%=client.name%>
        </li>               
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
 </div>
  </td>
  </tr>
       <% unless params[:user].blank? %>
          <% field_accuracy = params[:user][:field_accuracy].blank? ? 100.0 : params[:user][:field_accuracy] %>
          <% total_eobs = params[:user][:total_eobs].blank? ? 0 : params[:user][:total_eobs] %>
          <% rejected_eobs = params[:user][:rejected_eobs].blank? ? 0 : params[:user][:rejected_eobs] %>
      <% end %>

  <tr>
<td><label for="user_role">Retrieval Permission(s)</label></td>
    <td colspan="2"><label for="batch_correspondence">Image </label><%= check_box 'user', 'image_permision' %>
    <label for="batch_system_issue"> | Image and 835 </label><%= check_box 'user', 'image_835_permision' %>
    <label for="batch_policy_issue"> | Image and grid </label><%= check_box 'user', 'image_grid_permision' %>
    <label for="claim_retrieval"> | Claims </label><%= check_box 'user', 'claim_retrieval_permission' %></td>
  </tr>
  <% if current_user.grant_fc_edit_permission %>
    <tr>
      <td><label>Facility Configuration Editing Permission</label></td>
      <td><%= check_box('user', 'fc_edit_permission') %></td>
    </tr>
  <% end %>
  <tr>
  <td><label> Batch Status</label></td><td><%= check_box 'user', 'batch_status_permission' %></td>
  </tr>
  <tr>
     <td><label> 837 File Report </label></td>
     <td><%= check_box('user', 'file_837_report_permission', {}, "1", "0") %></td>
  </tr>       
  <tr>
    <td><label for="user_accuracy"> Accuracy %</label></td><td><%= text_field 'user', 'field_accuracy',:class => 'black_text', :value => field_accuracy %></td>
  </tr>
  
  <tr>
    <td><label for="user_total_eobs">Total EOBs</label></td><td><%= text_field 'user', 'total_eobs',:class => 'black_text', :value => total_eobs %></td>
  </tr>
  <tr>
    <td><label for="user_rejected_eobs">Rejected EOBs</label></td><td><%= text_field 'user', 'rejected_eobs',:class => 'black_text', :value => rejected_eobs %></td>
  </tr>
  <tr>
        <td><label for="employee_id">Employee ID  <span class="alert"> *</span> </label></td>
        <td><%= text_field 'user', 'employee_id',:class => 'black_text' %></td>
  </tr>
  <tr>
        <td><label for="location">Location  <span class="alert"> *</span> </label></td>
        <td><%= select_tag 'location', options_for_select(['TVM', 'NGL']),:class => 'black_text' %></td>
  </tr>
    <tr>
        <td><label for="num_cre_errors"> Number of CRE errors for the salary period</label></td>
        <td><%= text_field 'user', 'num_cre_errors', :class => 'black_text' %></td>
  </tr>
  <tr id="display_payer_wise_auto_allocation" style = "visibility:hidden">
        <td><label for="payer_wise_auto_allocation">Payer Wise Auto Allocation</label></td>
        <td><%= check_box :user, :eligible_for_payer_wise_job_allocation %></td>
  </tr>
</table>

<p><%= submit_tag 'Create'%> </p>
<br/> <!-- TODO: Handle in CSS -->
<%= link_to image_tag("arrow_undo.png", :alt => "Cancel"), :action => 'index' %>
<% end %>

<script type="text/javascript">
  ddtreemenu.createTree("client_tree", false);
  ddtreemenu.createTree("fac_tree", false);
  
</script>
