<% unless @batches.blank? %>
<%= link_to 'Export Batches to CSV', :action => "export_batches" , :search_field => @search_field,:compare => @compare,:criteria => @criteria%>
 <br/><br/>
<%= will_paginate @batches, :params => {:criteria => params[:criteria],:compare => params[:compare],:to_find => params[:to_find]} %>
  <table width="100%">
  <tr>
    <th width="10%"> Batch Date </th>
    <th width="25%"> Batch ID </th>
    <th width="25%"> Facility Name</th>
    <th width="15%"> Arrival Time (EST)</th>
    <th width="15%"> Completion Time (EST)</th>
    <th> EOB Count</th>
  </tr>

      <% for batch in @batches %>
          <% cls = ''
          %>
    <tr>
    <td nowrap class="<%= cls %>" align='right'><%= format_date(batch.date) %> </td>
      <td nowrap class="<%= cls %>" align='right'><%= batch.batchid %> </td>
      <td nowrap class="<%= cls %>"><%= batch.facility.name %> (<%= batch.facility.sitecode %>)</td>
      <td nowrap class="<%= cls %>" align='right'><%= format_datetime(batch.arrival_time) %></td>
      <td nowrap class="<%= cls %>" align='right'><%= ( batch.completion_time.nil? ? "" : format_datetime( batch.completion_time ) )%></td>
      <td nowrap class="<%= cls %>" align='right'> <%= batch.get_completed_eobs %> </td>
    </tr>
  <% end %>
  </table>
<%=will_paginate @batches,:params => { 'search_field' => @search_field, 'compare' => @compare, 'criteria' => @criteria }%>
  <br/>
<% else %>
  <h4> No matching Batches found. </h4>
<% end %>
