<%= form_for(@claim_validation_exception) do |f| %>
  <% if @claim_validation_exception.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@claim_validation_exception.errors.count, "error") %> prohibited this claim_validation_exception from being saved:</h2>

      <ul>
      <% @claim_validation_exception.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :eob_id %><br />
    <%= f.number_field :insurance_payment_eob_id %>
  </div>
  <div class="field">
    <%= f.label :claim_information_id %><br />
    <%= f.number_field :claim_information_id %>
  </div>
  <div class="field">
    <%= f.label :action %><br />
    <%= f.text_field :action %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
